<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<form name="login" novalidate>
					<label>
						Username <input ng-model="credentials.user" />
					</label>

					<label>
						Password <input ng-minlength="5" ng-model="credentials.password" required type="password">
					</label>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" >
				<button ng-click="submit(credentials)" type="button">
					Logga in
				</button>				
				<a ui-sref="register" ><button type="button">Registrera</button></a>
			</div>
		</div>
	</div>
</section>
