<section>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<form name="login" novalidate>
					<label>
						Username <input ng-model="credentials.user" />
					</label>

					<label>
						Password <input ng-minlength="5" ng-model="credentials.password" required type="password">
					</label>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12" >
				<button ng-click="submit(credentials)" type="button">
					<a href="#!/chat">Logga in</a>
				</button>				
				<button ng-click="submit(credentials)" type="button">
					<a href="#!/register">Registrera</a>
				</button>
			</div>
		</div>
	</div>
</section>
