<section>
	<div class="container">
		<div class="row">
			<div class="block-register">
				<div class="col-xs-12">
					<h1 class="main-title">Register</h1>
					<form name="registrationForm" novalidate>
					   <div class="form-group">
							<label for="username">Username</label>
							<input 
								type="text" 
								name="username" 
								class="form-control inline-block" 
								ng-model="userName" 
								required 
								autocomplete="false"
								ng-pattern="/^[a-z,A-Z,0-9]{5,30}$/" 
								ng-change="usernameIsTaken=false" />
							<i ng-show="userName" class="fa fa-check inline-block"></i>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input 
								type="password" 
								name="password" 
								class="form-control inline-block" 
								ng-model="password" 
								required 
								autocomplete="false"
								ng-pattern="/^([-_/&%#,a-z,A-Z,0-9]){6,30}$/" />
							<i ng-show="password" class="fa fa-check inline-block"></i>
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password</label>
							<input 
								type="password" 
								name="confirmPassword" 
								class="form-control inline-block" 
								ng-model="confirmPassword" 
								required 
								ng-pattern="password" 
								autocomplete="false"
								ng-disabled="!password" />
							<i ng-show="confirmPassword" class="fa fa-check inline-block"></i>
						</div>
						<div class="dropdown" ng-controller="chooseAvatar">

                        	<select class="avatar-select" ng-model="myAvatar" ng-options="avatar.name for avatar in avatars" ng-click="showAvatarPhoto()">
                            	<option disabled value="">Choose avatar…</option> 
                       		</select>

                        	<div id="avatar"><img class="avatar-img" src="{{myAvatar.avatar}}"></div>
                        </div>

						<div class="form-group">
							<button ng-click="registerSubmit()" type="submit" class="btn btn-success" ng-disabled="!userName; !password; !confirmPassword">
								Register
							</button>
						</div>
					</form> 
				</div>
			</div>
		</div>
	</div>
</section>