<section>
	<div class="container">
		<div class="row">
			<div class="block">
				<div class="col-xs-12">
					<h1 class="main-title">Register</h1>
					<form name="registrationForm" novalidate>
					   <div class="form-group">
							<label for="username">Username</label>
							<input 
								type="text" 
								name="username" 
								class="form-control inline-block" 
								ng-model="userName" 
								required 
								ng-pattern="/^[a-z,A-Z,0-9]{5,30}$/" 
								ng-change="usernameIsTaken=false" />
							<i ng-show="userName" class="fa fa-check inline-block"></i>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input 
								type="password" 
								name="password" 
								class="form-control inline-block" 
								ng-model="password" 
								required 
								ng-pattern="/^([-_/&%#,a-z,A-Z,0-9]){6,30}$/" />
							<i ng-show="password" class="fa fa-check inline-block"></i>
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password</label>
							<input 
								type="password" 
								name="confirmPassword" 
								class="form-control inline-block" 
								ng-model="confirmPassword" 
								required 
								ng-pattern="password" 
								ng-disabled="!password" />
							<i ng-show="confirmPassword" class="fa fa-check inline-block"></i>
						</div>
						<div class="dropdown" ng-controller="chooseAvatar">
							<button class="btn btn-default" ng-click="avatarDropdown()">Choose Avatar <i class="fa fa-caret-down" aria-hidden="true"></i></button>
							<ul id="dropper" class="dropdown-menu">
								<a href="" ng-click="showAvatar()" ng-model="avatar01"><li>Avatar 1</li></a>
								<a href="" ng-click="showAvatar()" ng-model="avatar02"><li>Avatar 2</li></a>
								<a href="" ng-click="showAvatar()" ng-model="avatar03"><li>Avatar 3</li></a>
								<a href="" ng-click="showAvatar()" ng-model="avatar04"><li>Avatar 4</li></a>
							</ul>
							<div id="avatar"></div>
							<ul class="avatar-list">
								<li ng-click="listAvatar()" id="noAvatar"></li>
							</ul>
						</div>

						<div class="form-group">
							<button ng-click="registerSubmit()" type="submit" class="btn btn-success" ng-disabled="!userName; !password; !confirmPassword">
								Register
							</button>
						</div>
					</form> 
				</div>
			</div>
		</div>
	</div>
</section>