<section>
	<div class="container">
		<div class="row">
			<div class="block-register">
				<div class="col-xs-12">
					<h1 class="main-title">Register</h1>
					<form name="registrationForm" novalidate>
					   <div class="form-group">
							<label for="username">Username</label>
							<input 
								ng-keydown="disallowSpace($event)"
								type="text" 
								name="username" 
								class="form-control inline-block" 
								ng-model="userName" 
								required  
								ng-trim="false"
								min-length="5"
								max-length="30"
								ng-change="usernameIsTaken=false" />
							<i ng-show="userName && !usernameIsTaken && !tooShort && !tooLong && !regex && !space" class="fa fa-check inline-block"></i>
							<i ng-show="!userName || usernameIsTaken || tooShort || tooLong || regex || space" class="fa fa-times inline-block"></i>
							<p ng-show="usernameIsTaken" class="errorMessage">The username is taken</p>
							<p ng-show="tooShort">Too short</p>
							<p ng-show="tooLong">Too long</p>
							<p ng-show="regex">Can only contain letters a-z and numbers 0-9, and no spaces</p>
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input 
								type="password" 
								name="password" 
								class="form-control inline-block" 
								ng-model="password" 
								required 
								ng-pattern="/^([-_/&%#,a-z,A-Z,0-9]){6,30}$/" />
							<i ng-show="password" class="fa fa-check inline-block"></i>
							<i ng-show="!password || empty" class="fa fa-times inline-block"></i>
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password</label>
							<input 
								type="password" 
								name="confirmPassword" 
								class="form-control inline-block" 
								ng-model="confirmPassword" 
								required 
								ng-pattern="password" 
								ng-disabled="!password" />
							<i ng-show="confirmPassword" class="fa fa-check inline-block"></i>
							<i ng-show="!confirmPassword " class="fa fa-times inline-block"></i>
						</div>
						<div class="dropdown" ng-controller="chooseAvatar">

                        	<select class="avatar-select" ng-model="myAvatar" ng-options="avatar.name for avatar in avatars" ng-init="showAvatarPhoto()">
                            	<option disabled value=""></option> 
                       		</select>
                        	<div id="avatar"><img class="avatar-img" src="{{myAvatar.avatar}}"></div>
                        </div>
						
						<div class="form-group">
							<button ng-click="registerSubmit()" type="submit" class="btn btn-success" ng-disabled="!userName || !password || !confirmPassword || usernameIsTaken">
								Register
							</button>
							{{ myAvatar }}
						</div>
					</form> 
				</div>
			</div>
		</div>
	</div>
</section>