/* Main Styles */

body, main {
	height: 100%;
}

body {
	background: white;
	font-family: 'Lato', sans-serif;
	color: black;
}

#wrap {
	margin: 0 auto !important;
	position: relative;
}


/* Header Styles */

#header {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              	0 1px 5px 0 rgba(0, 0, 0, 0.12),
              	0 3px 1px -2px rgba(0, 0, 0, 0.2);
	background-color: #B0BEC5;;
	line-height: 100px;
	margin-bottom: 10px;
	color: white;
}

	#header h1 {
		font-size: 64px;
		color: white;
	}

.aligncenter {
	text-align: center;
}


/* Sidebar Styles */

#sidebar {	
	min-height: 580px;
	background-color: #ECEFF1;
	color: black;
	position: relative;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

	#sidebar h4.active {	
		background-color: #546E7A;
		padding: 3px;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
	                  0 1px 5px 0 rgba(0, 0, 0, 0.12),
	                  0 3px 1px -2px rgba(0, 0, 0, 0.2);
	}

	#sidebar .sidebar-top {
		background-color: #B0BEC5;
		padding: 10px;
	}

	#sidebar .sidebar-top a {
		color: white;
		text-decoration: none;
	}

	#sidebar .copy {
		position: absolute;
		bottom: 0;
		width: 100%;
		border-top: 1px solid #ddd;
		left: 0;
	}

	#sidebar img {
		margin-bottom: 5px;
		max-width: 50%;
		border-radius: 500px;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  	0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  	0 3px 5px -1px rgba(0, 0, 0, 0.4);
	}

	#sidebar .tabs h4 {
		text-transform: uppercase;
		display: inline;
		margin: 0 5px;
	}

	#sidebar .all-users {
		margin-top: 12px;
		list-style: none;
		padding: 0;
		text-align: left;
	}

	#sidebar .all-users li {
		line-height: 60px;
		border: 1px solid #eee;
		height: 60px;
	}

		#sidebar .all-users li:hover {
			border: 1px solid black;		
		}

		#sidebar .all-users .mini img {
			width: 40px;
			height: 40px;
		}

		#sidebar .all-users .private {
			padding-left: 20px;
		}

.red {
	color: red;
}

.green {
	color: green;
}

span.green,
span.red {
	float: right;
	margin-right: 20px;
}

#sidebar .all-users .group-users {
	display: none;
}

/*Chat styles*/

.message-box {
	word-wrap: break-word;
	background-color: white;
	padding: 5px;
	overflow: hidden;	
	margin-bottom: 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 1px 5px 0 rgba(0, 0, 0, 0.12),
  				0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.message-box.marginleft {
	margin-left: 15px;
}


.message-box img {
	height: 40px;
	width: auto;
	border-radius: 50px;
}
.image-float-right {
	float: right;	
}
.image-float-left {
	float: left;	
}

.content {
	color: black;
}

.chatarea {
	height: 500px;
	overflow-y: scroll;
}
.send-message-field {
	
}
	.send-message-field button {
		float: right;
		margin-left: 5px;
		position: absolute;
		bottom: 0;
	}
	.send-message-field textarea {
		float: left;
		border-radius: 5px;
		resize: none;
		width: 450px;
		height: 80px;
	}

/* LOGIN */

.login {
	color: black;
}

.block {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	width: 500px;
	min-height: 400px;
	margin: 0 auto;
	text-align: center;
}

.block input {
	width: 300px;
	margin: 0 auto;
	height: 40px;
	border: 0;
	border-radius: 3px;
	font-size: 28px;
	border-bottom: 2px solid #2196F3;
}

.block input:last-of-type {
	margin-bottom: 20px;
}

.block .btn {
	height: 40px;
	width: 150px;
	margin-bottom: 10px;
}

.block label {
	display: block;
	margin: 10px 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.block .main-title {
	font-size: 70px;
	text-transform: uppercase;
}


/*  REGISTER */

.block-register {
	/*position: absolute;
	top: 50%;
	transform: translateY(-50%);*/
	left: 0;
	right: 0;
	width: 500px;
	min-height: 400px;
	margin: 0 auto;
	text-align: center;
}

.block-register input {
	width: 300px;
	margin: 0 auto;
	height: 40px;
	border: 0;
	border-radius: 3px;
	font-size: 28px;
	border-bottom: 2px solid #2196F3;
}

.block-register .btn {
	height: 40px;
	width: 300px;
	margin-bottom: 10px;
}

.block-register label {
	display: block;
	margin-top: 20px;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.block-register .main-title {
	font-size: 70px;
	text-transform: uppercase;
}


.avatar {
	margin-top: 20px;
}

.avatar-img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 10px auto;
}

.avatar-select {
	height: 40px;
    width: 300px;
    margin-bottom: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

	.dropdown-menu {
	    display: none;
	    position: absolute;
	    background-color: white;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 10;
	}
		.dropdown-menu a {
		    color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		}
			.dropdown-menu a:hover {
				background-color: grey;
				color: white;
			}

.dropdown-show {
	display:block;
	position: absolute;
	top: 40px;
	left: 40px;
}

.fa-check {
	color: #5cb85c;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 8px;
	position: absolute;
}

.fa-times {
	color: #F57373;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 8px;
	position: absolute;
}

#noAvatar input {
	display: block;
	float: left;
    margin: 0 0 10px;
    height: 20px;
    width: 10px;
}
	#noAvatar p {
		float: left;
		width: 100px;
		margin: 0;
	}

		#noAvatar {
			list-style: none;
			cursor: pointer;
		}


/* VALID / INVALID INPUT */

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

textarea:focus, input:focus{
    outline: none;
}

.errorMessage {
	width: 300px;
	background-color: #FFF59D;
	left: 0;
	margin: 0 auto;
	padding: 5px;
	right: 0;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(56, 51, 51, 0.74);

}

.modal-body {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
              	0  6px 30px 5px rgba(0, 0, 0, 0.12),
                0  8px 10px -5px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
    background-color: white;
    margin: 12% auto; 
    padding: 40px;
    width: 50%;
    min-height: 35%; 
}
	
	.modal-body .modalButton {
		margin-top: 20px;
		width: 80px;
	}

	.modal-body img {
		width: 80px;
		height: auto;
	}

