/* Main Styles */

body, main {
	background: beige;
	height: 100%;
}

body {
	background: #E6DADA;
	background: -webkit-linear-gradient(to left, #E6DADA , #274046); 
	background: linear-gradient(to left, #E6DADA , #274046);  
	font-family: 'Lato', sans-serif;
	color: black;
}

main {
	min-height: 500px;
}

/* Header Styles */

#header {
	height: 70px;
	line-height: 70px;
	border-bottom: 1px solid black;
}

#footer {
	border-top: 1px solid black;
	height: 70px;
	line-height: 70px;
}

.aligncenter {
	text-align: center;
}

/* Sidebar Styles */

#sidebar {
	border-right: 1px solid black;
	height: 100%;
	background-color: white;
	color: black;
}

#sidebar img {
	max-width: 100%;
}

#sidebar .tabs h4 {
	text-transform: uppercase;
	display: inline;
	margin: 0 5px;
}

#sidebar .all-users {
	list-style: none;
	padding: 0;
	text-align: left;
}

#sidebar .all-users li {
	line-height: 40px;
	border: 1px solid black;
}

#sidebar .all-users .mini img {
	width: 40px;
	height: 40px;
}

#sidebar .all-users .private {
	padding-left: 20px;
}

.red {
	color: red;
}

.green {
	color: green;
}

#sidebar .all-users .group-users {
	display: none;
}

/*Chat styles*/

.message-box {
	/*border: 1px solid black;*/
	padding: 5px;
	overflow: hidden;
	/*line-height: 40px;*/
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 1px grey;
	background-color: white;
}
.message-box img {
	height: 40px;
	width: auto;
	border-radius: 50px;
}
.image-float-right {
	float: right;	
}
.image-float-left {
	float: left;	
}

.content {
	color: black;
}

.chatarea {
	height: 500px;
	overflow-y: scroll;
}
.send-message-field {
	position: absolute;
	bottom: 0;
}
textarea {
	width: 500px;
	resize: none;
}
.textfield {
	height: 100px;
	float:right;
}


/* LOGIN */

.login {
	color: black;
}

.block {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	width: 500px;
	min-height: 400px;
	margin: 0 auto;
	text-align: center;
}

.block input {
	width: 300px;
	margin: 0 auto;
	height: 40px;
	border: 0;
	border-radius: 3px;
	font-size: 28px;
}

.block input:last-of-type {
	margin-bottom: 20px;
}

.block .btn {
	height: 40px;
	width: 150px;
	margin-bottom: 10px;
}

.block label {
	display: block;
	margin: 10px 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
}

.block .main-title {
	font-size: 70px;
	text-transform: uppercase;
}


/*  REGISTER */

.avatar {
	margin-top: 20px;
}

.avatar-img {
	display: block;
	width: 100px;
	height: 100px;
	margin: 10px auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

	.dropdown-menu {
	    display: none;
	    position: absolute;
	    background-color: white;
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 10;
	}
		.dropdown-menu a {
		    color: black;
		    padding: 12px 16px;
		    text-decoration: none;
		    display: block;
		}
			.dropdown-menu a:hover {
				background-color: grey;
				color: white;
			}

.dropdown-show {
	display:block;
	position: absolute;
	top: 40px;
	left: 40px;
}

#noAvatar input {
	display: block;
	float: left;
    margin: 0 0 10px;
    height: 20px;
    width: 10px;
}
	#noAvatar p {
		float: left;
		width: 100px;
		margin: 0;
	}

		#noAvatar {
			list-style: none;
			cursor: pointer;
		}


/* VALID / INVALID INPUT */

input.ng-valid {
	background-color: #dcedc8;
}

input.ng-invalid {
	background-color: #ffcdd2;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}