/*Chat styles*/
.my-messages {
	background-color: rgba(100, 181, 246, 0.3)!important;
}

.your-messages {
	background-color: rgba(102, 187, 106, 0.3)!important;
}

.fadeInDown {
    -webkit-animation-duration: 3s;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: 1; 
}

/*.hinge {
    -webkit-animation-duration: 3s;
	-webkit-animation-delay: 3s;
	-webkit-animation-iteration-count: 1;
}
*/
.message-box {
	word-wrap: break-word;
	background-color: white;
	padding: 5px;
	overflow: hidden;	
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
				0 1px 5px 0 rgba(0, 0, 0, 0.12),
  				0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.message-box strong {
	font-weight: 500;
}

.message-box.marginleft {
	margin-left: 30px;
}

.message-box img {
	height: 40px;
	margin-right: 10px;
}
.image-float-right {
	float: right;	
}
.image-float-left {
	float: left;	
}

.content {
	color: black;
	/*position: absolute;
	left: 250px;
	top: 100px;*/
	width: 100%;
}

p.messagedate {
	font-size: 9px;
	/*right: 0;*/
	/*bottom: 0;
	position: absolute;*/
	margin: 2px;
}

.chatarea {
	overflow-y: scroll;
	/*margin-top: 100px;*/
	max-height: 580px;
	margin-top: 20px;
}
.all-users {
	overflow-y: scroll;
}
.send-message-field {
	position: fixed;
    width: 100%;
    bottom: 0;
    margin-right: 50px;
    padding-bottom: 10px;
	
}
	.send-message-field button {
		/*height: 80px;
		width: 100px;
		position: fixed;
		bottom: 10px;
		left: 750px;*/

	}
	.send-message-field textarea {
		/*position: fixed;
		bottom: 10px;*/
		border-radius: 5px;
		resize: none;
		min-width: 300px;
		min-height: 50px;
	}

.chatWith {
	position: fixed;
    z-index: 567;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    right: 32%;
}


/*  MEDIA QUERIES */

@media (min-height: 320px) {

	.chatarea {
		max-height: 160px;
	}	

	.edit-profile-modal .modal-content {
		margin: 3% auto;
	}


@media (min-height: 360px) {

	.chatarea {
		max-height: 200px;
	}	
}


@media (min-height: 412px) {

	.chatarea {
		max-height: 240px;
	}
}

@media (min-height: 568px) {

	.chatarea {
		max-height: 400px;
	}

	.edit-profile-modal .modal-content {
		margin: 10% auto;
	}
}



@media (min-height: 640px) {

	.chatarea {
		max-height: 440px;
	}

}


@media (min-height: 732px) {

	.chatarea {
		max-height: 540px;
	}

	#sidebar {
		max-height: 680px;
	}
}

@media (min-height: 768px) {

	.chatarea {
		max-height: 600px;
	}
	
}

@media (max-width: 734px){
	#sidebar {
		display: none;
		}
}


@media (min-height: 1024px) {

	.chatarea {
		max-height: 830px;
	}

	#sidebar {
		max-height: 900px;
	}
}

@media (min-height: 1300px) {

	.chatarea {
		max-height: 1120px;
	}

	#sidebar {
		max-height: 1250px;
	}
}

