/* Header Styles */

#header {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
                  0 1px 18px 0 rgba(0, 0, 0, 0.12),
                  0 1px 3px -1px rgba(0, 0, 0, 0.4);
	background-color: #B0BEC5;;
	line-height: 50px;
	color: white;
	z-index: 900;
}

	#header h1 {
		font-size: 26px;
		color: white;
		font-weight: 500;
		text-align: center;
	}
		#header .btn {
			padding: 3px 8px;
		}

/*  Header Media Query */

@media ( min-width: 768px ) {
	#header h1 {
		font-size: 36px;
	}

	#header .btn {
		padding: 6px 12px;
	}
}

.aligncenter {
	text-align: center;
}

.btn-info {
	margin-right: 0;
}

/* Sidebar Styles */

#sidebar {	
	margin-top: 20px;
	background-color: #ECEFF1;
	color: black;
	box-shadow: 1px 6px 10px 0 rgba(0, 0, 0, 0.14),
                  1px 1px 18px 0 rgba(0, 0, 0, 0.12),
                  1px 1px 3px -1px rgba(0, 0, 0, 0.4);
	max-height: 620px;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 99;
}
	#sidebar h2 {
		font-size: 10px;
		font-weight: 500;
		margin-top: 10px;
		text-transform: uppercase;
	}

	#sidebar h2 strong {
		display: block;
		font-weight: 700;
		font-size: 20px;
		text-transform: none;
	}

	#sidebar h4.active {	
		background-color: #ECEFF1;
	}

	#sidebar h4.active a {	
		color: black;
	}

	#sidebar .sidebar-top {
		background-color: whitesmoke;
		padding-top: 30px;
		padding-bottom: 20px;
	}

	#sidebar .sidebar-top a {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	#sidebar .copy {
		width: 200px;
		border-top: 1px solid #ddd;
		padding: 5px;
		margin: 0 auto;
	}

	#sidebar img {
		height: 80px;
		width: auto;
	}

	#sidebar .tabs {
		margin-top: 30px;
	}

	#sidebar .tabs h4 {
		text-transform: uppercase;
		display: inline;
		padding: 5px;
	}

	#sidebar .all-users {
		height: 270px;
		text-align: left;
		width: 100%; 
	}

	#sidebar .all-users td {
		line-height: 40px;
		border: 1px solid #eee;
		height: 40px;
		font-size: 12px;
	}
		#sidebar .all-users .send-message {
			float: right;
			display: none;
			cursor: pointer;
		}

		#sidebar .all-users td:hover .username{	
			font-weight: 700;
			cursor: pointer;
		}
		#sidebar .all-users td:hover .status{
			display: none;
		}

		#sidebar .all-users td:hover .send-message{
			display: block;
			color: black;
			margin-right: 20px;
			font-size: 16px;
		}

		#sidebar .all-users td:last-of-type {
			margin-bottom: 20px;
		}

		#sidebar .all-users .username {
			line-height: 40px;
			padding-left: 10px;
		}

		#sidebar .all-users .mini img {
			height: 30px;
		}

			#sidebar .all-users .mini-private img {
				height: 30px;
				margin-right: 10px;
			}

			#sidebar .all-users .mini-private td {
				padding: 0;
			}

			#sidebar .all-users .mini-private a {
				color: black;
				text-decoration: none;
			}

				#sidebar .all-users .mini-private a:hover {
					font-weight: 700;
				}

		#sidebar .all-users .mini span {
			line-height: 40px;
		}

		#sidebar .all-users .private {
			padding-left: 20px;
		}

		#sidebar .all-users .fa-times-circle {
			color: #F57373;
			font-size: 20px;
			margin-left: 10px;
			margin-top: 14px;
		}

.red {
	color: #B71C1C;
}

.green {
	color: #00C853;
}

#sidebar a {
	color: black;
	font-weight: 500;
	//text-transform: uppercase;
	text-decoration: none;
}
#sidebar a:hover {
	font-weight: 700;
	text-decoration: none;
}
#sidebar a:active {
	background-color: black;
    color: white;
    padding: 10px;
}

#sidebar table {
	margin-top: 15px;
}

#sidebar .public-row td{
	margin-bottom: 15px;
	background-color: rgba(0, 0, 0, 0.3);
}

#sidebar .private-row td{
	margin-bottom: 15px;
	background-color: rgba(229, 115, 115, 0.5);
}

span.fa-users,
span.green,
span.red {
	float: right;
	margin-right: 20px;
}

#sidebar .all-users .group-users {
	display: none;
}
.sidebarfooter {
	min-width:176px;
	height:30px;
	background-color: #ECEFF1;
	color: black;
	position: relative;
	box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.8), 0 1px -1px -3px rgba(0, 0, 0, 0.12);
}



