<header id="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-3">
				<h1>CHAT</h1>
			</div>
			<div class="col-xs-9 text-right">
				<button class="btn btn-primary" ng-click="editProfile()"><i class="fa fa-cog"></i></button>
				<span ng-if="username === 'admin'"> 
					<button type="button" ng-click="adminUserList()" class="btn btn-info">Admin User List</button>
				</span>
				<button type="button" ng-click="logout()" class="btn btn-danger" id="logout">Log Out{{online}}</button>
			</div>
		</div>
	</div>
</header>
<div id="wrap">
	<main class="main">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-3 text-center" id="sidebar">
					<aside ng-controller="sidebarController">
						<div class="row">
							<div class="col-xs-12 sidebar-top">			
								<img class="user-avatar" src="{{ avatar }}" />
								<h2>Logged in as 
									<strong>
										{{ username }}
									</strong>
								</h2>
								<div class="tabs">
									<h4 ng-class="{ active: isSet(1) }">
										<a ui-sref="chat.public" ng-click="setTab(1)">Public</a>
									</h4>
									<h4 ng-class="{ active: isSet(2) }">
										<a ng-click="setTab(2)">Private</a>
									</h4>
								</div>
							</div>
						</div>

						<div ng-show="isSet(1)" style="position: relative;">
							<table class="all-users">
								<tr ng-repeat="user in userList | orderBy : '-online'" class="mini animated bounceInLeft aligncenter">
									<td><img src="{{ user.avatar.src }}"></td>
									<td style="width: 100%"><span class="username">{{ user.username }}</span></td>
									<td>
										<span class="status" ng-class="{'green': user.online, 'red': !user.online}"> 
											<i class="fa fa-circle"></i>
										</span>
										<span class="send-message" ng-click="toPrivate(user._id)">  <!-- function is here -->
											<a ui-sref="chat.private">
												<i class="fa fa-comment"></i>
											</a>
										</span>
									</td>
								</tr>
							</table>
						</div>

						<div ng-show="isSet(2)" style="position: relative;">
							<table class="all-users">
								<tr ng-repeat="user in privateUser | orderBy : '-online' track by $index" class="mini animated bounceInLeft aligncenter">
									<td><img src="{{ user.avatar.src }}" /></td>
									<td style="width: 70%"><span class="username">{{ user.username }}</span></td>
									<td>
										<span ng-class="{'green': user.online, 'red': !user.online}">
											<i class="fa fa-circle"></i>
										</span>
									</td>
									<td><i class="fa fa-times-circle" ng-click="noPrivate($index)"></i></td>
								</tr>
							</table>
						</div>
						<div class="copy">
							<p>&copy; DOGGY STYLE</p>
						</div>
					</aside>
				</div>
				<div class="edit-profile-modal text-center" ng-if="edit">
					<div class="modal-content">
						<button class="btn btn-primary right" ng-click="editProfile()">X</button>
						<div class="gigantic">
							<h2>Edit profile </h2>
							<p>What do you want to edit {{ username }}? </p>
						</div>
						<button class="btn btn-warning gigantic" ng-click="editPassword()">Change password</button>
						<button class="btn btn-primary gigantic" ng-click="editAvatar()">Change avatar</button>
						<button class="btn btn-danger gigantic" ng-click="unregisterAccountModal()">Unregister</button>
					</div>
				</div>
				<div class="edit-profile-modal" ng-show="unregisterNow"> <!-- must be show not if, otherwise creates own scope -->
					<div class="modal-content">
						<div id="unregister">
							<button class="btn btn-danger right" ng-click="unregisterAccountModal()">X</button>
							<h2>Are you sure that you want to unregister?</h2>
							<form name="unregister" novalidate>
								<label for="password">Enter password to confirm</label>
								<input type="password" name="password" ng-model="unregisterPasswordConfirm">
								<br />
								<button class="btn btn-danger" ng-click="unregisterAccount(id)">Unregister</button>
							</form>
						</div>
					</div>
				</div>
				<div class="edit-profile-modal text-center" ng-show="changePassword">
					<div class="modal-content">
						<button class="btn btn-danger right" ng-click="editPassword()">X</button>
						<h2>Change password</h2>
						<form name="changePasswords" novalidate>
							<div ng-show="confirmOldPassword">
								<label for="password">Enter <strong>old</strong> password</label>
								<input type="password" name="password" ng-model="oldPassword">
								<br />
								<button class="btn btn-primary" ng-click="correctPassword()">OK</button>
							</div>

							<div ng-show="chooseNewPassword">
								<label>Enter <strong>new</strong> password</label>
								<input ng-model="users.password" ng-attr-type="{{ showPassword ? 'text' : 'password' }}" required name="newPassword" ng-trim="false">
								<show-password-eye></show-password-eye>
								<br />
								<span ng-if="users.password.length > 0">
									<p ng-show="tooShort" class="errorMessage">The password must contain at least 5 characters</p>
									<p ng-show="tooLong" class="errorMessage">The password can not conatin more than 30 characters</p>
									<p ng-show="regex" class="errorMessage">Can only contain a-z and numbers 0-9, and no spaces</p>
								</span>

								<label>Repeat <strong>new</strong> password</label>
								<input type="password" ng-model="confirmNewPassword">
								<span ng-if="confirmNewPassword.length > 0">
									<p ng-if="confirmNewPassword != users.password" class="errorMessage">Does not match</p>
								</span>

								<div class="gigantic">
									<button class="btn btn-danger" ng-disabled="tooLong || tooShort || regex || confirmNewPassword != users.password " ng-click="changeYourPassword(id)">Change password</button>
								</div>
								<div ng-show="successfyllyChangedPassword">
									<p>You successfully changed password!</p>
								</div>
							</div> <!-- chooseNewPassword -->
						</form>
					</div>
				</div>
				<div class="edit-profile-modal" ng-show="changeAvatarModal">
					<div class="modal-content">
						<div id="changeAvatar">
							<button class="btn btn-danger right" ng-click="editAvatar()">X</button>
							<h2>Change avatar</h2>
							<h3>Current avatar: </h3>
							<img src="{{ avatar }}" class="small" />
							<form name="changeAvatar" novalidate class="inline">
								<avatar-dropdown title="Choose a new avatar"></avatar-dropdown>
								<br />
								<button class="btn btn-danger" ng-click="changeAvatar()">Change avatar</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-xs-9" ui-view>
					<!-- public/private chat here -->
				</div>
			</div>
		</div>
	</main>
</div>
<footer id="footer">
	
</footer>