<div class="block">
<section class="login">
	<div class="container">
			<div class="row animated fadeIn">
				<div class="col-xs-12">
					<h1 class="main-title">CHAT</h1>
				</div>
				<div class="col-xs-12">
					<form name="login" novalidate>
						<label for="user">Username</label>
						<input ng-model="users.username" name="user" required ng-change="errorMessageUsername=false"  ng-keypress="($event.charCode==13)?logIn():return" />
						<p ng-show="errorMessageUsername" class="errorMessage">The username does not exist</p>
						<br />
						<label for="password">Password</label>
						<input 
							ng-model="users.password" 
							required 
							ng-attr-type="{{ showPassword ? 'text' : 'password' }}" 
							name="password" 
							ng-change="errorMessagePassword=false" 
							ng-keypress="($event.charCode==13)?logIn():return" />
						<show-password-eye></show-password-eye>
						<p ng-show="errorMessagePassword" class="errorMessage">Invalid password</p>
						<br />
						<a ui-sref="register">
							<button type="button" class="btn btn-success">
								Register
							</button>
						</a>
						<button ng-click="logIn()" type="button" class="btn btn-primary">
							Log In
						</button>				
					</form>
				</div>
				
			</div>
		
	</div>
</section>
</div>