<section class="content" ng-controller="chatController">
		<div class="row">
			<div class="col-xs-12 chatarea">
				<div class="row">
					<div class="col-xs-5 message-box marginleft">
						<img src="{{assets/img/av07.jpg}}" class="image-float-left" />
						<p> DETTA ÄR EN PRIVAT CHATT </p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-5 message-box marginleft">
						<img src="conversations.messages.author" class="image-float-left"> <!-- Author id find right avatar -->
						<p> Jag är en groda :-) </p>
					</div>
				</div>	
				<div ng-repeat="message in conversation.messages.content | orderBy: '+';">
					<div class="row">
						<div class="col-xs-5 col-xs-push-6 message-box marginright">
							{{message.text}}
							<img src="{{users.avatar.src}}" class="image-float-right">
						</div>
					</div>
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-xs-12 send-message-field">
				<textarea ng-keypress="($event.charCode==13)?sendMessage():return" ng-model="conversations.messages.content"></textarea>  <!-- Needs modifying (kanske) -->
				<br />
				<button class="btn btn-success" ng-click="sendMessage()">Send</button>			
			</div>
		</div>
</section>