<!-- <section class="content">
	<div class="row">
		<div scroll-glue-bottom id="chatarea" class="col-xs-12 chatarea">
			<div class="row">
				<div class="col-xs-12">
					<p class="chat-with">Private Chat with {{chatWith}}</p>
				</div>
			</div>
			<div class="row" ng-repeat="message in privateConversation track by $index">
				<div class="col-xs-5 message-box" ng-class="{'col-xs-push-6 marginright': isUserSender(message.sender), 'marginleft': !isUserSender(message.sender)}">
					<img ng-src="{{ message.senderavatar }}" class="image-float-left">
					<strong>{{ message.sender }}:</strong><br/>
					<i>{{ message.content }}</i>
					<p class="messagedate">{{ message.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 send-message-field">
			<textarea scroll-glue="glued" ng-keypress="($event.charCode==13)?sendPrivateMessage():return" ng-model="privateMessage.content"></textarea>
			<br />
			<button class="scroll btn btn-success" ng-click="sendPrivateMessage(privateMessage)" ng-model="glued" >Send</button>			
		</div>
	</div>
</section> -->

<section class="content" ng-controller="chatController">
	<div class="row">
		<div scroll-glue-bottom class="col-xs-12 chatarea">
			<div class="row">
				<div class="col-xs-12">
					<p class="chatWith">Private Chat with {{chatWith}}</p>
				</div>
			</div>
			<div class="row" ng-repeat="message in privateConversation track by $index">
				<div class="col-xs-5 message-box" ng-class="{'col-xs-push-6 marginright': isUserSender(message.sender), 'marginleft': !isUserSender(message.sender)}">
					<img ng-src="{{ message.senderavatar }}" class="image-float-left">
					<strong>{{ message.sender }}:</strong><br/>
					<i>{{ message.content }}</i>
					<p class="messagedate">{{ message.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 send-message-field">
			<textarea scroll-glue="glued" ng-keypress="($event.charCode==13)?sendPrivateMessage():return" ng-model="privateMessage.content"></textarea>
			<br />
			<button class="scroll btn btn-success" ng-click="sendPrivateMessage()" ng-model="glued" >Send</button>			
		</div>
	</div>
</section>