<section class="content"  ng-controller="chatController">
	<div class="row">
		<div class="col-xs-12 chatarea">
			<div class="row" ng-repeat="message in allMessages">
				<div class="col-xs-5 message-box" ng-class="{'col-xs-push-6 marginright': isUserSender(message.messages.sender), 'marginleft': !isUserSender(message.messages.sender)}">
					<strong>{{ message.messages.sender }}:</strong><br/>
					{{ message.messages.content }}
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 send-message-field">
			<textarea ng-keypress="($event.charCode==13)?sendMessage():return" ng-model="conversations.messages.content"></textarea>
			<br />
			<button class="btn btn-success" ng-click="sendMessage()">Send</button>			
		</div>
	</div>
</section>