<section class="content"  ng-controller="chatController">
	<div class="row">

		<div scroll-glue-bottom id="chatarea" class="col-xs-12 chatarea">
			<div class="row" ng-repeat="message in allMessages">
				<div class="col-xs-5 message-box" ng-class="{'col-xs-push-6 marginright': isUserSender(message.messages.sender), 'marginleft': !isUserSender(message.messages.sender)}">
					<img src="{{ message.messages.senderavatar }}" class="image-float-left">
					<strong>{{ message.messages.sender }}:</strong><br/>
					<i>{{ message.messages.content }}</i>
					<p class="messagedate">{{ message.messages.date | date:'yyyy-MM-dd HH:mm:ss'}}</p>
				</div>
			</div>
		</div>
	</div>	
	<div class="row">
		<div class="col-xs-12 send-message-field">
			<textarea scroll-glue="glued" ng-keypress="($event.charCode==13)?sendMessage():return" ng-model="conversations.messages.content"></textarea>
			<br />
			<button class="scroll btn btn-success" ng-click="sendMessage()" ng-model="glued" >Send</button>			
		</div>
	</div>
</section>