	<div class="container">
		<div class="row">
			<div class="block-register">
				<div class="col-xs-12 animated fadeIn">
					<h1 class="main-title">Register</h1>
					<form name="registrationForm" class="registrationForm" novalidate>
					   <div class="form-group">
							<label for="username">Choose Username</label>
							<input 
								type="text" 
								name="username" 
								class="form-control inline-block" 
								ng-model="users.username" 
								required  
								ng-trim="false"
								min-length="5"
								max-length="30"
								ng-change="usernameIsTaken=false" />
							<span ng-if="users.username.length > 0">
								<i ng-show="users.username && !usernameIsTaken && !tooShort && !tooLong && !regex" class="fa fa-check inline-block"></i>
								<i ng-show="!users.username || usernameIsTaken || tooShort || tooLong || regex" class="fa fa-times inline-block"></i>
								<p ng-show="usernameIsTaken" class="errorMessage">The username is taken</p>
								<p ng-show="tooShort" class="errorMessage">Must contain at least 5 characters</p>
								<p ng-show="tooLong" class="errorMessage">Can not contain more than 20 characters</p>
								<p ng-show="regex" class="errorMessage">Can only contain letters a-z and numbers 0-9, and no spaces</p>
							</span>
						</div>
						<div class="form-group">
							<label for="password">Choose Password</label>
							<input 
								type="password" 
								name="password" 
								class="form-control inline-block" 
								min-length="6"
								max-length="30"
								ng-model="users.password" 
								ng-trim="false"
								required />
							<span ng-if="users.password.length > 0">
								<i ng-show="users.password && !tooShortPassword && !tooLongPassword && !passwordRegex" class="fa fa-check inline-block"></i>
								<i ng-show="!users.password || tooLongPassword || tooShortPassword || passwordRegex" class="fa fa-times inline-block"></i>
								<p ng-show="tooShortPassword" class="errorMessage">The password must contain at least 5 characters</p>
								<p ng-show="tooLongPassword" class="errorMessage">The password can not conatin more than 30 characters</p>
								<p ng-show="passwordRegex" class="errorMessage">Can only contain a-z and numbers 0-9, and no spaces</p>
							</span>
						</div>
						<div class="form-group">
							<label for="confirmPassword">Confirm Password</label>
							<input 
								type="password" 
								name="confirmPassword" 
								class="form-control inline-block" 
								ng-model="confirmPassword" 
								required 
								ng-disabled="!users.password || tooLongPassword || tooShortPassword || passwordRegex" />
							<span ng-if="confirmPassword.length > 0">
								<i ng-if="confirmPassword == users.password" class="fa fa-check inline-block"></i>
								<i ng-if="confirmPassword != users.password" class="fa fa-times inline-block"></i>
								<p ng-if="confirmPassword != users.password" class="errorMessage">Does not match</p>
							</span>
						</div>
						<avatar-dropdown title="Choose avatar"></avatar-dropdown>
						
						<div class="form-group">
							<button ng-click="registerSubmit(users)" 
								type="submit" 
								class="btn btn-success inline-block" 
								ng-disabled="!users.username || !users.password || !confirmPassword || usernameIsTaken || tooLongPassword || tooShortPassword || passwordRegex || tooShort || tooLong || regex">
								Register new account
							</button>
							<button class="btn btn-primary inline-block" ui-sref="login">Go back to login</button>

							
						</div>
					</form> 
				</div>
			</div>
		</div>

		<div id="login-modal" class="modal">								
			<div class="modal-body aligncenter">
			   	<h3>Congratulations {{users.username}}!</h3>
			    <p>You are now a member of Doggy Style!</p>
			    <img src="{{users.avatar.src}}" /><br />
			    <button class="btn btn-success modalButton" ng-click="modalLogin()">Log in!</button>
			</div>
		</div>
	</div>
</section>